*{
	margin :0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

body {
  background-color: whitesmoke;
}
  
  .head {
    border: 1px solid black;
    background-color: #0c0624;
    width: 100%;
    height: 200px;
  }

.resume {
  margin-top: 30px;
  background-color: white;
  width: 100%;
  height: 20px;
}
.resume h4 {
  width: 100px;
  height: 20px;
  margin-left: 100px;
  text-align: center;
  color: white;
  background-color: #0c0624;
} 

.profile-name {
  text-align: left;
}

.name {
    color: white;
    float: left;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 40px;
  }

/* MEMBUAT PHOTO PROFILE */
.profile-img {
  margin-top: 200px;
  margin-left: 50px;
  float: left;
}
img{
  margin-top: 1000px;
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -8rem;
	z-index: 999;
  border: 1rem solid #ebeef8;
  
}

/* MEMBUAT HEADING */
.heading {
  
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-left: 270px;
  margin-bottom: 30px;
}

.line {
  margin-left: 270PX;
  margin-right: 50px;
  margin-top: 10px;
  border-bottom: 3px solid black;
}

.head-content {
  padding: 30px;
  margin-top: 20px;
  margin-left: 270PX;
  margin-right: 50px;
  background-color:#c8cfca;
  font-size: 3rem;
}

.line-content {
  padding: 5px;
  border-bottom: dotted 3px black;
}

/*Penyusunan kontent work */

.content-work1 {
  display: flex;
  margin: auto;
  padding:5px;
  text-align: LEFT;
  
}
.content-work h5 {
  font-size: 20px;
}

.content-work p {
  font-size: 15px;
}
.left {
  padding: 10PX;
  width: 40%;
}
.right {
  padding: 10PX;
  width: 60%;
}

/*Penyusunan kontent education */

.content-education {
  display: flex;
  margin: auto;
  padding:5px;
  text-align: LEFT;
  
}
.content-education h5 {
  font-size: 20px;
}

.content-education p {
  font-size: 15px;
}

/*Penyusunan kontent skills */

.content-skills {
  display: flex;
  margin: auto;
  padding:5px;
  text-align: LEFT;
  
}
.content-skills h5 {
  font-size: 20px;
}

.content-skills p {
  font-size: 15px;
}

.profile {
  padding: 3px;
  width: 250px;
  margin-top: -1190px;
  float: left;
  text-align: right;
}

.profile p {
  font-size: 40px;
  letter-spacing: 3px;
  margin-top: 5px;;
  
}

.profile-content p {
  font-size: 15px;
}

.profile-content h5 {
  font-size: 20px;
  margin-top: 10px;
}

.footer {
  background-color:  #0c0624;
  width: 100%;
  height: 50px;
}